<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/job.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="TRACE" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %c %d: %m%n" />
		</layout>
	</appender>

	<appender name="logerrorfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/job-error.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="WARN" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %c %d: %m%n" />
		</layout>
        <filter class="ru.planeta.api.log.ErrorAccumulatorFilter"/>
	</appender>

	<logger name="org.mybatis">
		<level value="ERROR" />
	</logger>

	<logger name="java.sql">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache.commons">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="logfile" />
		<appender-ref ref="logerrorfile" />
	</root>
</log4j:configuration>