<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Список задач</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>


	<div class="container">

		<table>
			<tr th:each="job : ${jobs}">
				<td><a href="/run-job/${job.name}" th:href="@{'/run-job/'+${job.name}}" th:text="${job.name}"></a></td>
				<td><span th:text="${job.lastTimeStarted}">"</span></td>
				<td>
					<span style="color:red" th:if="${job.running}">RUNNING</span>
					<span th:if="${job.running} == false" th:text="${job.lastTimeFinished}"></span>
				</td>
			</tr>
		</table>


	</div>

</body>
</html>
